/* colors */
/* facebook color */
/* font sizes */
/* box sizes */
/* radius */
div.feed {
  overflow-x: hidden;
}
div.feed div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
div.feed div.container div.inside-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  /* colors */
  /* facebook color */
  /* font sizes */
  /* box sizes */
  /* radius */
}
div.feed div.container div.inside-container div.find-match {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 3em 0;
}
div.feed div.container div.inside-container div.find-match span.space {
  height: 5px;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}
div.feed div.container div.inside-container div.find-match div.match {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
div.feed div.container div.inside-container div.find-match div.match-img-wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}
div.feed div.container div.inside-container div.find-match div.match-img-wrapper img {
  width: 100%;
}
div.feed div.container div.inside-container div.find-match div.match-info {
  padding: 0 3em;
}
div.feed div.container div.inside-container div.find-match div.match-info-container {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
div.feed div.container div.inside-container div.find-match div.match-info-container svg {
  margin-right: 0.8em;
}
div.feed div.container div.inside-container div.find-match div.match-info button {
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b0f9), to(#0092df));
  background: linear-gradient(180deg, #00b0f9 0%, #0092df 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
  padding: 0.8em;
  border-radius: 15px;
  width: 100%;
}
div.feed div.container div.inside-container div.find-match div.match-info button svg {
  width: 17px;
  height: 17px;
}
div.feed div.container div.inside-container div.find-match div.match-info button:hover {
  background: #0092df;
}
div.feed div.container div.inside-container div.find-match div.match-info button.search-again {
  margin-top: 0.5em;
  border: 2px solid #0092df;
  background: transparent;
  color: #434343;
}
div.feed div.container div.inside-container div.find-match div.match-info button.search-again:hover {
  background: #00b0f9;
  color: #fff;
}
div.feed div.container div.inside-container div.find-match div.match-info button.search-again:hover svg path {
  stroke: #fff;
}
div.feed div.container div.inside-container div.find-match div.match-info button.search-again svg {
  margin-right: 0.5em;
}
div.feed div.container div.inside-container div.find-match div.match-info button.search-again svg path {
  stroke: #434343;
  stroke-width: 3;
}
div.feed div.container div.inside-container div.find-match div.match-info p.match-info-muted {
  font-size: 12px;
  color: #434343;
  text-align: center;
}
@media (max-width: 480px) {
  div.feed div.container div.inside-container div.find-match span.space {
    display: none;
  }
  div.feed div.container div.inside-container div.find-match div.match {
    padding: 0.3em;
  }
  div.feed div.container div.inside-container div.find-match div.match-info {
    padding: 0;
  }
}
@media (min-width: 481px) {
  div.feed div.container div.inside-container div.find-match span.space {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
  }
}
@media (min-width: 1023px) {
  div.feed div.container div.inside-container div.find-match span.space {
    -webkit-box-flex: 2 !important;
        -ms-flex: 2 !important;
            flex: 2 !important;
  }
  div.feed div.container div.inside-container div.find-match div.match {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
div.feed div.container div.inside-container div.posts {
  padding: 0;
}
@media (max-width: 480px) {
  div.feed div.container div.inside-container div.posts {
    -webkit-box-flex: 4.5;
        -ms-flex: 4.5;
            flex: 4.5;
  }
}
@media (min-width: 481px) {
  div.feed div.container div.inside-container div.posts {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}
div.feed div.container div.inside-container div.posts,
div.feed div.container div.inside-container div.chats {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
@media (max-width: 480px) {
  div.feed div.container div.inside-container div.posts,
div.feed div.container div.inside-container div.chats {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}
@media (min-width: 481px) {
  div.feed div.container div.inside-container div.posts,
div.feed div.container div.inside-container div.chats {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}
@media (min-width: 1023px) {
  div.feed div.container div.inside-container div.posts,
div.feed div.container div.inside-container div.chats {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
div.feed div.container div.inside-container div.chats {
  padding: 1em 0;
}
div.feed div.container div.inside-container div.chats-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.2em;
}
div.feed div.container div.inside-container div.chats-header svg {
  width: 17px;
  height: 17px;
}
div.feed div.container div.inside-container div.chats-header span {
  font-weight: bold;
  margin-left: 0.5em;
}
div.feed div.container div.inside-container div.chats form.chats-form {
  margin-top: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
div.feed div.container div.inside-container div.chats form.chats-form textarea {
  border-radius: 15px;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 100%;
  padding: 1em;
  height: 62px;
  outline: none;
}
div.feed div.container div.inside-container div.chats form.chats-form textarea::-webkit-scrollbar {
  display: none;
}
div.feed div.container div.inside-container div.chats form.chats-form textarea:focus {
  border: 2px solid #0092df;
}
@media (max-width: 480px) {
  div.feed div.container div.inside-container div.chats form.chats-form textarea {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}
@media (min-width: 481px) {
  div.feed div.container div.inside-container div.chats form.chats-form textarea {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
}
div.feed div.container div.inside-container div.chats form.chats-form button {
  margin-left: 0.3em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 62px;
  border: none;
  border-radius: 15px;
  outline: none;
  color: #fff;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b0f9), to(#0092df));
  background: linear-gradient(180deg, #00b0f9 0%, #0092df 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 480px) {
  div.feed div.container div.inside-container div.chats form.chats-form button {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}
@media (min-width: 481px) {
  div.feed div.container div.inside-container div.chats form.chats-form button {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
div.feed div.container div.inside-container div.chats form.chats-form button svg {
  margin-left: 0.3em;
  width: 17px;
  height: 17px;
}
div.feed div.container div.inside-container div.chats form.chats-form button svg path {
  stroke: #fff;
}
div.feed div.container div.inside-container div.chats form.chats-form button:hover {
  background: #0092df;
}
div.feed div.container div.inside-container div.chats-body {
  max-height: 500px;
  height: 500px;
  overflow-y: scroll;
  padding: 1em;
  box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.25) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
div.feed div.container div.inside-container div.chats-body-msg.from {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
div.feed div.container div.inside-container div.chats-body-msg.from p {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b0f9), to(#0092df));
  background: linear-gradient(180deg, #00b0f9 0%, #0092df 100%);
}
div.feed div.container div.inside-container div.chats-body-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0.3em 0;
}
div.feed div.container div.inside-container div.chats-body-msg svg {
  width: 47px;
  height: 47px;
}
div.feed div.container div.inside-container div.chats-body-msg p {
  font-size: 0.8em;
  padding: 0.8em;
  max-width: 280px;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
}
@media (max-width: 480px) {
  div.feed div.container div.inside-container div.chats-body-msg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.feed div.container div.inside-container div.chats-body-msg svg {
    width: 22px;
    height: 22px;
  }
  div.feed div.container div.inside-container div.chats-body-msg.from {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.feed div.container div.inside-container div.chats-body-msg.from svg {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media (min-width: 481px) {
  div.feed div.container div.inside-container div.chats-body-msg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.feed div.container div.inside-container div.chats-body-msg.from svg {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 47px;
    height: 47px;
  }
  div.feed div.container div.inside-container div.chats-body-msg p {
    font-size: 0.7em;
    max-width: 180px;
  }
}
div.feed div.container div.inside-container div.chats-body::-webkit-scrollbar {
  display: none;
}
div.feed div.container div.inside-container div.side-container-menubar {
  position: fixed;
  right: 10px;
  top: 5px;
  z-index: 2;
}
div.feed div.container div.inside-container div.side-container-menubar svg:hover > path {
  stroke: #0092df;
}
div.feed div.container div.inside-container span.space {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  /* colors */
  /* facebook color */
  /* font sizes */
  /* box sizes */
  /* radius */
}
div.feed div.container div.inside-container span.space div.side-container {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-transform: translateX(10px) !important;
          transform: translateX(10px) !important;
}
div.feed div.container div.inside-container span.space div.side-container.show {
  -webkit-transform: translateX(110px) !important;
          transform: translateX(110px) !important;
}
div.feed div.container div.inside-container span.space div.side-container-msgs {
  width: 300px;
  position: fixed;
  top: 10px;
  z-index: 1;
  padding: 1em;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
div.feed div.container div.inside-container span.space div.side-container-msgs-header input {
  margin: 0.5em 0;
  width: 100%;
  border-radius: 15px;
  padding: 0.5em 0.8em;
  border: none;
  -webkit-box-shadow: 0px 0px 2px #434343;
          box-shadow: 0px 0px 2px #434343;
  -webkit-transition: border 300ms ease;
  transition: border 300ms ease;
  outline: none;
}
div.feed div.container div.inside-container span.space div.side-container-msgs-header input:hover, div.feed div.container div.inside-container span.space div.side-container-msgs-header input:focus {
  -webkit-box-shadow: 0px 0px 2px #0092df;
          box-shadow: 0px 0px 2px #0092df;
}
div.feed div.container div.inside-container span.space div.side-container-msgs-header h2 {
  border-radius: 15px;
  width: 100%;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
div.feed div.container div.inside-container span.space div.side-container-msgs-header h2 svg {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}
div.feed div.container div.inside-container span.space div.side-container-msgs-body {
  overflow-y: scroll;
  height: 90vh;
}
div.feed div.container div.inside-container span.space div.side-container-msgs-body::-webkit-scrollbar {
  display: none;
}
div.feed div.container div.inside-container span.space div.side-container-msgs-body-msg-wrapper {
  background-color: #fff;
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.3em 0;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: -3px 0px 5px #e5e5e5;
          box-shadow: -3px 0px 5px #e5e5e5;
}
div.feed div.container div.inside-container span.space div.side-container-msgs-body-msg-wrapper:hover {
  background-color: #e5e5e5;
}
div.feed div.container div.inside-container span.space div.side-container-msgs-body-msg-wrapper svg {
  width: 50px;
  height: 50px;
  margin-right: 0.2em;
}
div.feed div.container div.inside-container span.space div.side-container-msgs-body-msg-wrapper h4 {
  font-size: 12px;
}
div.feed div.container div.inside-container span.space div.side-container-msgs-body-msg-wrapper-body p {
  font-size: 12px;
}
@media (max-width: 480px) {
  div.feed div.container div.inside-container span.space div.side-container {
    position: absolute;
    top: 0;
  }
  div.feed div.container div.inside-container span.space div.side-container-msgs {
    width: 70vw;
    z-index: 4;
    -webkit-transform: translateX(450px);
            transform: translateX(450px);
  }
  div.feed div.container div.inside-container span.space div.side-container.show {
    -webkit-transform: translateX(-320px) !important;
            transform: translateX(-320px) !important;
  }
}
@media (min-width: 481px) {
  div.feed div.container div.inside-container span.space div.side-container.show {
    -webkit-transform: translateX(-600px) !important;
            transform: translateX(-600px) !important;
  }
  div.feed div.container div.inside-container span.space div.side-container-msgs {
    -webkit-transform: translateX(420px);
            transform: translateX(420px);
  }
}
@media (min-width: 1080px) {
  div.feed div.container div.inside-container span.space div.side-container-msgs {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@media (max-width: 480px) {
  div.feed div.container {
    width: 100vw;
    padding-left: 3em;
  }
  div.feed div.container div.inside-container {
    width: 100%;
    display: block;
  }
  div.feed div.container div.inside-container div.chats {
    padding: 0.3em;
  }
  div.feed div.container div.inside-container div.posts {
    width: 100%;
    padding: 0.3em;
  }
}
@media (min-width: 481px) {
  div.feed div.container {
    width: 100vw;
  }
  div.feed div.container div.inside-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.feed div.container div.inside-container div.posts {
    width: 100%;
  }
}
@media (min-width: 1023px) {
  div.feed div.container div.side-container-menubar {
    display: none;
  }
  div.feed div.container div.inside-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}