/* colors */
/* facebook color */
/* font sizes */
/* box sizes */
/* radius */
div.find-match {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 2em 0;
}
div.find-match span.space {
  height: 5px;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}
div.find-match div.match {
  width: 100%;
}
div.find-match div.match-img-wrapper {
  text-align: center;
  max-width: 70%;
  width: 100%;
  position: relative;
  margin: auto;
}
div.find-match div.match-img-wrapper img {
  width: 100%;
}
div.find-match div.match-info {
  padding: 0 3em;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
div.find-match div.match-info-container {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
div.find-match div.match-info-container svg {
  margin-right: 0.8em;
}
div.find-match div.match-info button {
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b0f9), to(#0092df));
  background: linear-gradient(180deg, #00b0f9 0%, #0092df 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
  padding: 0.8em;
  border-radius: 15px;
  width: 100%;
}
div.find-match div.match-info button svg {
  width: 17px;
  height: 17px;
}
div.find-match div.match-info button:hover {
  background: #0092df;
}
div.find-match div.match-info button.search-again {
  margin-top: 0.5em;
  border: 2px solid #0092df;
  background: transparent;
  color: #434343;
}
div.find-match div.match-info button.search-again:hover {
  background: #00b0f9;
  color: #fff;
}
div.find-match div.match-info button.search-again:hover svg path {
  stroke: #fff;
}
div.find-match div.match-info button.search-again svg {
  margin-right: 0.5em;
}
div.find-match div.match-info button.search-again svg path {
  stroke: #434343;
  stroke-width: 3;
}
div.find-match div.match-info p.match-info-muted {
  font-size: 12px;
  color: #434343;
  text-align: center;
}
@media (max-width: 480px) {
  div.find-match span.space {
    display: none;
  }
  div.find-match div.match {
    padding: 0.3em;
  }
  div.find-match div.match-info {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}
@media (min-width: 481px) {
  div.find-match {
    padding: 0.3em;
  }
  div.find-match span.space {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
  }
  div.find-match div.match {
    padding: 0.3em;
  }
  div.find-match div.match-info {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    padding: 0 4em;
  }
}
@media (min-width: 1023px) {
  div.find-match {
    padding: 3em 0;
  }
  div.find-match span.space {
    -webkit-box-flex: 2 !important;
        -ms-flex: 2 !important;
            flex: 2 !important;
  }
  div.find-match div.match {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}