/* colors */
/* facebook color */
/* font sizes */
/* box sizes */
/* radius */
div.loading {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid black;
  height: 100%;
}
div.loading svg {
  width: 62px;
  height: 62px;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
  transition: -webkit-transform 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
  transition: transform 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
  transition: transform 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards, -webkit-transform 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}
div.loading span {
  font-weight: bold;
}