/* colors */
/* facebook color */
/* font sizes */
/* box sizes */
/* radius */
div.side-container {
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-transform: translateX(500px) !important;
          transform: translateX(500px) !important;
}
div.side-container.show {
  -webkit-transform: translateX(110px) !important;
          transform: translateX(110px) !important;
}
div.side-container-msgs {
  width: 300px;
  position: fixed;
  right: 50px;
  top: 10px;
  z-index: 1;
  padding: 1em;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
div.side-container-msgs-header input {
  margin: 0.5em 0;
  width: 100%;
  border-radius: 15px;
  padding: 0.5em 0.8em;
  border: none;
  -webkit-box-shadow: 0px 0px 2px #434343;
          box-shadow: 0px 0px 2px #434343;
  -webkit-transition: border 300ms ease;
  transition: border 300ms ease;
  outline: none;
}
div.side-container-msgs-header input:hover, div.side-container-msgs-header input:focus {
  -webkit-box-shadow: 0px 0px 2px #0092df;
          box-shadow: 0px 0px 2px #0092df;
}
div.side-container-msgs-header h2 {
  border-radius: 15px;
  width: 100%;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
div.side-container-msgs-header h2 svg {
  width: 20px;
  height: 20px;
  margin-right: 0.5em;
}
div.side-container-msgs-body {
  overflow-y: scroll;
  height: 90vh;
}
div.side-container-msgs-body::-webkit-scrollbar {
  display: none;
}
div.side-container-msgs-body-msg-wrapper {
  background-color: #fff;
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.3em 0;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: -3px 0px 5px #e5e5e5;
          box-shadow: -3px 0px 5px #e5e5e5;
}
div.side-container-msgs-body-msg-wrapper:hover {
  background-color: #e5e5e5;
}
div.side-container-msgs-body-msg-wrapper svg {
  width: 50px;
  height: 50px;
  margin-right: 0.2em;
}
div.side-container-msgs-body-msg-wrapper h4 {
  font-size: 12px;
}
div.side-container-msgs-body-msg-wrapper-body p {
  font-size: 12px;
}
@media (max-width: 480px) {
  div.side-container {
    position: absolute;
    top: 0;
    right: -500px;
  }
  div.side-container-msgs {
    width: 70vw;
    z-index: 4;
  }
  div.side-container.show {
    right: 80px;
  }
}
@media (min-width: 481px) {
  div.side-container.show {
    -webkit-transform: translateX(10px) !important;
            transform: translateX(10px) !important;
  }
}
@media (min-width: 1306px) {
  div.side-container {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}