/* colors */
/* facebook color */
/* font sizes */
/* box sizes */
/* radius */
div.chat-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 0;
}
div.chat-msg img {
  -webkit-clip-path: circle(15px at center);
          clip-path: circle(15px at center);
  width: 30px;
  height: 30px;
}
div.chat-msg p {
  max-width: 200px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  margin-left: 0.2em;
  border-radius: 15px;
  padding: 0.5em;
  font-size: 0.9em;
  margin: 0 0.1em;
}
div.chat-msg.from {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
div.chat-msg.from p {
  background-color: #0092df;
  color: #fff;
}