/* colors */
/* facebook color */
/* font sizes */
/* box sizes */
/* radius */
div.notification {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2100;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 1px solid rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1px solid rgba(0, 0, 0, 0.5);
  display: none;
  overflow: hidden;
}
div.notification.show {
  display: block;
}
div.notification.hide {
  display: none;
}
div.notification div.toast-header {
  border-bottom: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.5em 1em;
}
div.notification div.toast-header svg path {
  stroke: #434343;
}
div.notification div.toast-body {
  padding: 0.5em 1em;
  font-size: 0.95em;
  background-color: #e5e5e5;
}