/* colors */
/* facebook color */
/* font sizes */
/* box sizes */
/* radius */
form.post-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0.8em;
  background-color: #e5e5e5;
  padding: 1em;
  padding-bottom: 0.2em;
  border-radius: 15px;
  min-height: 120px;
  -webkit-transition: height 200ms ease-in-out;
  transition: height 200ms ease-in-out;
  position: relative;
}
form.post-form div.post-form-img-wrapper {
  margin-top: 0.5em;
  width: 100%;
  position: relative;
}
form.post-form div.post-form-img-wrapper img {
  width: 100%;
  border: 1px solid #434343;
}
form.post-form div.input-file {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
form.post-form div.input-file:hover > svg path {
  stroke: #0092df;
}
form.post-form div.input-file input {
  display: none;
}
form.post-form div.input-file svg {
  cursor: pointer;
  width: 47px;
  height: 47px;
}
form.post-form div.input-file svg path {
  -webkit-transition: stroke 100ms ease;
  transition: stroke 100ms ease;
  stroke-width: 2;
  fill: #434343;
}
form.post-form div.post-description {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  position: relative;
}
form.post-form div.post-description textarea {
  background-color: transparent;
  border: none;
  border-left: 1px solid #434343;
  outline: none;
  height: 100%;
  padding: 0.8em;
  resize: none;
  max-height: 90px;
  width: 100%;
}
form.post-form div.post-description textarea::-webkit-scrollbar {
  width: 0.2em;
}
form.post-form div.post-description textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
form.post-form div.post-description textarea::-webkit-scrollbar-thumb {
  background-color: #434343;
  outline: 1px solid #434343;
  border-radius: 15px;
}
form.post-form div.post-description div.btns {
  margin: 0;
  margin-top: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
form.post-form div.post-description div.btns input {
  padding: 0.5em 2em;
  color: #fff;
  font-weight: bold;
  outline: none;
  border: none;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}
form.post-form div.post-description div.btns input.cancel {
  color: #434343;
  background-color: transparent;
}
form.post-form div.post-description div.btns input.cancel:hover {
  color: #00dfb7;
}
form.post-form div.post-description div.btns input.submit {
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4dfede), to(#00dfb7));
  background: linear-gradient(180deg, #4dfede 0%, #00dfb7 100%);
}
form.post-form div.post-description div.btns input.submit:hover {
  background: #00dfb7;
}
@media (min-width: 1023px) {
  form.post-form {
    max-width: 500px;
    margin: auto;
    margin-top: 0.8em;
  }
}