/* colors */
/* facebook color */
/* font sizes */
/* box sizes */
/* radius */
div.post-preview {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}
div.post-preview-inside {
  background: rgba(255, 255, 255, 0.38);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.4px);
  -webkit-backdrop-filter: blur(17.4px);
  padding: 1em;
  border-radius: 15px;
  width: 70vw;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
}
div.post-preview-inside::-webkit-scrollbar {
  display: none;
}
div.post-preview-inside img {
  width: 100%;
}
div.post-preview-inside-info {
  padding: 0 0.5em;
  position: relative;
}
div.post-preview-inside-info h6 {
  margin-top: 1em;
  text-align: left;
  display: block;
  width: 100%;
}
div.post-preview-inside-info-header {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0.2em;
}
div.post-preview-inside-info-header img.profile {
  width: 20px;
  height: 20px;
  -webkit-clip-path: circle(10px at center);
          clip-path: circle(10px at center);
  outline: 2px solid #434343;
  margin-left: 0.2em;
}
div.post-preview-inside-info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
div.post-preview-inside-info-body p {
  text-align: left;
  width: 100%;
  margin: 0.5em 0;
}
div.post-preview-inside-info-body-img-wrapper {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
div.post-preview-inside-info-body-img-wrapper::-webkit-scrollbar {
  display: none;
}
div.post-preview-inside-info-body-img-wrapper div.img {
  margin: 0.3em 0;
  width: 50%;
  position: relative;
}
div.post-preview-inside-info-body-img-wrapper div.img img {
  display: inline-block;
  width: 100%;
  padding: 0.2em;
}
div.post-preview-inside-info-body button {
  margin-top: 1em;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b0f9), to(#0092df));
  background: linear-gradient(180deg, #00b0f9 0%, #0092df 100%);
  border: none;
  outline: none;
  color: #fff;
}
div.post-preview-inside-info-body button:hover {
  background: #0092df;
}
div.post-preview-inside-info-body button svg {
  width: 25px;
  height: 25px;
}
div.post-preview-inside-info-body button svg path {
  stroke-width: 3;
}
@media (max-width: 744px) {
  div.post-preview-inside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.post-preview-inside img.highlight-photo {
    width: 80%;
    margin: auto;
    margin-bottom: 0.5em;
  }
}
@media (min-width: 745px) {
  div.post-preview-inside {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.post-preview-inside img {
    width: 100%;
  }
}