span.space {
  width: 300px;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /* colors */
  /* facebook color */
  /* font sizes */
  /* box sizes */
  /* radius */
}
span.space form.chats {
  border: 1px solid black;
  position: relative;
}
span.space form.chats div.chats-inside-header {
  box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
  -moz-box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
  -webkit-box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3em;
}
span.space form.chats div.chats-inside-header img {
  -webkit-clip-path: circle(20px at center);
          clip-path: circle(20px at center);
  width: 40px;
  height: 40px;
  margin-right: 0.5em;
}
span.space form.chats div.chats-inside-header span {
  font-weight: bold;
}
span.space form.chats div.chats-inside-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
span.space form.chats div.chats-inside-body-msg {
  max-width: 300px;
  border-radius: 15px;
}
span.space form.chats div.chats-inside-body-msg img {
  -webkit-clip-path: circle(15px at center);
          clip-path: circle(15px at center);
  width: 30px;
  height: 30px;
}
span.space form.chats div.chats-inside-body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}
span.space form.chats div.chats-inside-body-form textarea,
span.space form.chats div.chats-inside-body-form button {
  padding: 0.5em;
  border-radius: 15px;
  display: inline-block;
}
span.space form.chats div.chats-inside-body-form textarea {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}
span.space form.chats div.chats-inside-body-form button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #0092df;
}
span.space form.chats div.side-container {
  position: absolute;
  top: 0;
  right: -38%;
  background-color: #fff;
  z-index: 1000;
}
span.space form.chats div.side-container div.inside {
  border: 1px solid black;
}
span.space form.chats div.side-container div.inside img {
  width: 100px;
}