@use "./variables.scss" as *;

div.feed-container-content {
    div.posts {
        border-bottom: 1px solid $grey;
        border-top: 1px solid $grey;
    }

    button.upload-btn {
        margin: 1em 0;
        outline: none;
        border: 1px solid $dark-primary;
        border-radius: $radius-lg;
        padding: 0.5em;
        color: $dark-primary;
        background-color: transparent;
        font-weight: bold;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color 200ms ease-in;

        svg {
            margin-right: 0.5em;
            path {
                stroke: $dark-primary;
            }
        }

        &:hover {
            background-color: $dark-primary;
            color: $light;

            svg path {
                stroke: $light;
            }
        }

        @media (max-width: 480px) {
            & {
                margin: 1em auto;
            }
        }

        @media (min-width: 481px) {
            & {
                margin: 1em;
            }
        }

        @media (min-width: 1023px) {
            & {
                margin: 1em 0;
            }
        }
    }
}
