@use "./variables.scss" as *;

div.find-match {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 3em 0;

    & span.space {
        height: 5px;
        flex: 1 !important;
    }

    div.match {
        flex: 5;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-img-wrapper {
            text-align: center;
            width: 100%;
            height: 100%;
            position: relative;

            img {
                width: 100%;
            }
        }

        &-info {
            padding: 0 3em;
            &-container {
                margin: 1em 0;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                svg {
                    margin-right: 0.8em;
                }
            }

            button {
                border: none;
                outline: none;
                background: linear-gradient(180deg, $light-primary 0%, $dark-primary 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                color: $light;
                font-weight: bold;
                padding: 0.8em;
                border-radius: $radius;

                width: 100%;

                svg {
                    width: $fs-medium;
                    height: $fs-medium;
                }

                &:hover {
                    background: $dark-primary;
                }
            }

            p.match-info-muted {
                font-size: $fs-small;
                color: $dark;
                text-align: center;
            }
        }
    }

    @media (max-width: 480px) {
        & {
            span.space {
                display: none;
            }

            div.match {
                &-info {
                    padding: 0;
                }
            }
        }
    }
    @media (min-width: 481px) {
        & {
            span.space {
                display: block;
                flex: 1;
            }
        }
    }

    @media (min-width: 1023px) {
        & {
            span.space {
                flex: 2;
            }
            div.match {
                flex-direction: row;
            }
        }
    }
}
