@use "./variables.scss" as *;

div.find-match {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;

    @media (max-width: 780px) {
        & {
            margin-top: 5em;
            flex-direction: column;

            div.find-match-img-wrapper {
                margin-top: 15em;
                img {
                    width: 80%;
                }
            }
        }
    }

    @media (min-width: 781px) {
        flex-direction: row;
    }

    padding: 1em 0;

    &-img-wrapper {
        flex: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;

        img {
            width: 100%;
        }
    }

    &-info {
        padding: 0 3em;
        flex: 2;

        &-container {
            margin: 1em 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            svg {
                margin-right: 0.8em;
            }
        }

        button {
            border: none;
            outline: none;
            background: linear-gradient(180deg, $light-primary 0%, $dark-primary 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            color: $light;
            font-weight: bold;
            padding: 0.8em;
            border-radius: $radius;

            width: 100%;

            svg {
                width: $fs-medium;
                height: $fs-medium;
            }

            &:hover {
                background: $dark-primary;
            }
        }

        button.search-again {
            margin-top: 0.5em;
            border: 2px solid $dark-primary;
            background: transparent;
            color: $dark;

            &:hover {
                background: $light-primary;
                color: $light;

                svg path {
                    stroke: $light;
                }
            }

            svg {
                margin-right: 0.5em;
                path {
                    stroke: $dark;
                    stroke-width: 3;
                }
            }
        }

        p.match-info-muted {
            font-size: $fs-small;
            color: $dark;
            text-align: center;
        }
    }

    @media (max-width: 480px) {
        & {
            span.space {
                display: none;
            }

            div.match {
                padding: 0.3em;

                &-info {
                    padding: 0;
                    flex: auto;
                }
            }
        }
    }
    @media (min-width: 481px) {
        & {
            padding: 0.3em;
            span.space {
                flex: 1 !important;
            }

            div.match {
                padding: 0.3em;

                &-info {
                    flex: auto;
                    padding: 0 4em;
                }
            }
        }
    }

    @media (min-width: 1023px) {
        & {
            padding: 3em 0;
            span.space {
                flex: 2 !important;
            }
            div.match {
                flex-direction: row;
                flex: 5;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}
