@use "./variables.scss" as *;

div.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $light;
    box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
    -moz-box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
    -webkit-box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
    padding: 0.5em;

    &-container {
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;

        form.search-wrapper {
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 0.5em;
            background-color: transparent;
            border-radius: $radius-lg;
            border: 1px solid $dark-primary;
            position: relative;

            div.search-results {
                position: absolute;
                max-height: 300px;
                min-height: 300px;
                bottom: -306px;
                overflow-y: scroll;
                left: 50%;
                width: 300px;
                transform: translateX(-50%);
                background-color: $light;
                box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
                -moz-box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
                -webkit-box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
                padding: 1em;
                display: none;

                &.show {
                    display: block;
                }

                &::-webkit-scrollbar {
                    display: none;
                }

                span {
                    font-weight: bold;
                    font-size: $fs-small;
                }

                span.header-result {
                    text-align: left;
                    display: block;
                    width: 100%;
                    border-bottom: 1px solid $grey;
                    padding-bottom: 0.5em;
                }

                &-user {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border-radius: $radius;
                    padding: 0.2em;
                    margin: 0.3em 0;

                    &:hover {
                        background-color: $grey;
                    }

                    span {
                        margin-left: 0.3em;
                    }

                    img {
                        clip-path: circle(12px at center);
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            input {
                border: none;
                outline: none;
                background-color: inherit;

                &::placeholder {
                    font-weight: bold;
                    color: $dark-primary;
                }
            }

            svg {
                width: $fs-normal;
                height: $fs-normal;
                margin-right: 0.5em;

                path {
                    stroke: $dark-primary;
                    stroke-width: 3;
                }
            }

            input:focus > & {
                border: 1px solid $dark-primary;
            }
        }

        @media (max-width: 480px) {
            & {
                flex-direction: column;
            }
        }

        @media (min-width: 481px) {
            & {
                flex-direction: row;
            }
        }
    }
}
