@use "./variables.scss" as *;

@font-face {
    font-family: "Inter";
    src: local("Inter"), url(../fonts/Inter.ttf) format("truetype");
}

*,
input,
li,
a {
    color: $dark;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0.3em;
    transition: width 150ms ease;

    &:hover {
        width: 0.5em;
    }
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: $radius;
}

body::-webkit-scrollbar-thumb {
    background-color: $dark;
    outline: 1px solid $dark;
    border-radius: $radius;
}

div.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    position: relative;

    &-left,
    &-right {
        flex: 1;
        position: sticky;
        top: 55px;

        @media (max-width: 480px) {
            flex: 0;
        }

        @media (min-width: 481px) {
            flex: 0;
        }

        @media (min-width: 1023px) {
            flex: 1;
        }
    }

    &-left {
        @media (min-width: 481px) {
            & {
                flex: 0.5;
            }
        }

        @media (min-width: 481px) {
            & {
                flex: 1.5;
            }
        }

        @media (min-width: 481px) {
            & {
                flex: 1;
            }
        }
    }

    &-main {
        flex: 3;
    }
}
