@use "./variables.scss" as *;

div.loading {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 20%;
    width: 100vw;
    transform-origin: center;

    svg {
        width: $bs-large;
        height: $bs-large;
        transition: transform 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
        align-self: center;
        margin-bottom: 1em;
    }

    span {
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    @media (max-width: 480px) {
        & {
            transform: translate(-50%, -20%);
        }
    }

    @media (min-width: 481px) {
        & {
            transform: none;
        }
    }
}
