@use "./variables.scss" as *;

div.loading {
    text-align: center;
    width: 82vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    svg {
        width: $bs-large;
        height: $bs-large;
        transition: transform 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
    }

    span {
        font-weight: bold;
    }
}
