@use "./variables.scss" as *;

div.side-container {
    transition: transform 200ms ease-in-out;
    transform: translateX(10px) !important;

    &.show {
        transform: translateX(110px) !important;
    }

    &-msgs {
        width: 300px;
        position: fixed;
        top: 10px;
        z-index: 1;
        padding: 1em;
        border-radius: $radius;
        background-color: $light;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

        &-header {
            input {
                margin: 0.5em 0;
                width: 100%;
                border-radius: $radius;
                padding: 0.5em 0.8em;
                border: none;
                box-shadow: 0px 0px 2px $dark;
                transition: border 300ms ease;
                outline: none;

                &:hover,
                &:focus {
                    box-shadow: 0px 0px 2px $dark-primary;
                }
            }
            h2 {
                border-radius: $radius;
                width: 100%;
                font-size: $fs-medium;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                svg {
                    width: $fs-large;
                    height: $fs-large;
                    margin-right: 0.5em;
                }
            }
        }

        &-body {
            overflow-y: scroll;
            height: 90vh;

            &::-webkit-scrollbar {
                display: none;
            }

            &-msg-wrapper {
                background-color: $light;
                margin: 0.5em 0;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 0.3em 0;
                transition: background-color 100ms ease-in-out;
                cursor: pointer;
                box-shadow: -3px 0px 5px $grey;

                &:hover {
                    background-color: $grey;
                }

                svg {
                    width: 50px;
                    height: 50px;
                    margin-right: 0.2em;
                }

                h4 {
                    font-size: $fs-small;
                }

                &-body {
                    p {
                        font-size: $fs-small;
                    }
                }
            }
        }
    }
    @media (max-width: 480px) {
        & {
            position: absolute;
            top: 0;

            &-msgs {
                width: 70vw;
                z-index: 4;
                transform: translateX(450px);
            }

            &.show {
                transform: translateX(-320px) !important;
            }
        }
    }

    @media (min-width: 481px) {
        &.show {
            transform: translateX(-600px) !important;
        }
        &-msgs {
            transform: translateX(420px);
        }
    }

    @media (min-width: 1080px) {
        &-msgs {
            transform: translateX(0px);
        }
    }
}
