@use "./variables.scss" as *;

form.chats {
    border: 1px solid black;
    position: relative;

    div.chats-inside {
        &-header {
            box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
            -moz-box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
            -webkit-box-shadow: 0px 3px 3px -1px rgba(125, 125, 125, 0.9);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.3em;

            img {
                clip-path: circle(20px at center);
                width: 40px;
                height: 40px;
                margin-right: 0.5em;
            }

            span {
                font-weight: bold;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;

            &-msg {
                max-width: 300px;
                border-radius: $radius;

                img {
                    clip-path: circle(15px at center);
                    width: 30px;
                    height: 30px;
                }
            }

            &-form {
                display: flex;
                align-items: top;

                textarea,
                button {
                    padding: 0.5em;
                    border-radius: $radius;
                    display: inline-block;
                }

                textarea {
                    flex: 4;
                }

                button {
                    flex: 1;
                    background-color: $dark-primary;
                }
            }
        }
    }

    div.side-container {
        position: absolute;
        top: 0;
        right: -38%;
        background-color: $light;
        z-index: 1000;

        div.inside {
            border: 1px solid black;
            img {
                width: 100px;
            }
        }
    }
}
