@use "./variables.scss" as *;

nav {
    position: fixed;
    left: 100px;
    top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    width: auto;
    transition: all 200ms ease-in-out;
    overflow-y: scroll;
    z-index: 1;
    height: 90vh;

    &::-webkit-scrollbar {
        display: none;
    }

    &.prof-nav {
        width: 50px;
        transition: all 200ms ease-in-out;
        left: 0;
        position: fixed;
        top: 10px;

        span {
            display: none;
        }

        div.matches h5 {
            font-size: 0.5em;
        }
    }

    a {
        text-decoration: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0.5em 0;
        position: relative;

        transition: color 100ms ease, stroke 100ms ease;

        &:hover > abbr svg path,
        &:hover > span {
            stroke: $dark-primary;
            color: $dark-primary;
        }

        svg {
            margin-right: 1em;
            width: 29px;
            height: 29px;

            path {
                stroke: $dark;
                stroke-width: 2;
            }
        }
    }
    a.active {
        span {
            color: $dark-primary;
        }
        svg path {
            stroke: $dark-primary;
        }
    }

    div.matches {
        margin-top: 1em;
        &-match {
            &-body {
                display: flex;
                align-items: center;
                padding: 0.4em;
                border-radius: $radius;
                cursor: pointer;

                &:hover {
                    background-color: rgb(65, 146, 223, 0.5);
                }

                img {
                    width: 29px;
                    height: 29px;
                    clip-path: circle(14px at center);
                }
                span {
                    margin-left: 0.5em;
                    font-size: $fs-small;
                    font-weight: bold;
                }
            }
        }
    }

    @media (max-width: 480px) {
        & {
            width: 50px;
            left: 0;

            span {
                display: none;
            }
            div.matches h5 {
                font-size: 0.5em;
            }
        }
    }

    @media (min-width: 481px) {
        & {
            width: 50px;
            left: 80px;

            span {
                display: none;
            }
            div.matches h5 {
                font-size: 0.5em;
            }
        }
    }

    @media (min-width: 1023px) {
        & {
            width: auto;
            left: 75px;

            span {
                display: block;
            }
            div.matches h5 {
                font-size: 1em;
            }
        }
    }
}
