@use "./variables.scss" as *;

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all 200ms ease-in-out;
    overflow-y: scroll;

    &.mobile-view {
        display: none;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin: 0;

        span {
            display: none;
        }

        @media (max-width: 480px) {
            display: flex;
        }
        @media (min-width: 481px) {
            display: none;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0.5em 0;
        position: relative;
        transition: color 110ms ease;

        &:hover > abbr svg path {
            stroke: $dark-primary;
        }
        &:hover > span {
            color: $dark-primary;
        }

        svg {
            margin-right: 0.7em;
            width: $fs-large;
            height: $fs-large;
            transition: stroke 120ms ease;

            path {
                stroke: $dark;
                stroke-width: 2;
            }
        }
    }
    a.active {
        span {
            color: $dark-primary;
        }

        &:hover > abbr svg path {
            stroke: $light;
        }

        svg path {
            stroke: $light;
            fill: $light-primary;
            stroke-width: 2;
        }
    }

    @media (max-width: 480px) {
        & {
            margin-left: 3em;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            display: none;
            span {
                display: none;
            }
        }
    }

    @media (min-width: 481px) {
        & {
            display: block;
            margin-left: 1.8em;
            span {
                font-size: $fs-small;
            }
        }
    }

    @media (min-width: 1023px) {
        & {
            margin-left: 0;
            span {
                display: block;
            }
        }
    }
}
