@use "./variables.scss" as *;

div.notification {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2100;
    background-color: $light;
    border-radius: $radius;
    box-shadow: 0px 0px 1px solid rgba(0, 0, 0, 0.5);
    display: none;
    overflow: hidden;

    &.show {
        display: block;
    }

    &.hide {
        display: none;
    }

    div.toast-header {
        border-bottom: 1px solid $grey;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0.5em 1em;

        svg path {
            stroke: $dark;
        }
    }

    div.toast-body {
        padding: 0.5em 1em;
        font-size: 0.95em;
        background-color: $grey;
    }
}
