@use "./variables.scss" as *;

div.notification {
    &.show {
        border: 1px solid rgba(255, 255, 255, 0.31);
        display: block;
    }

    &.show &-body,
    &.show &-header {
        padding: 0.5em;
    }

    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.4px);
    -webkit-backdrop-filter: blur(17.4px);

    z-index: 3000;
    overflow: hidden;
    transition: height 200ms ease-in-out;

    display: none;

    &-header {
        &.success {
            background-color: $dark;
        }

        &.error {
            background-color: $light-red;
        }

        h3 {
            color: $light;
            font-size: 1em;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            svg {
                margin-right: 0.5em;
            }
        }
    }

    &-body {
        p {
            font-size: 0.8em;
            padding: 1em 0;
        }
    }
}
