@use "./variables.scss" as *;

form.post-form {
    display: flex;
    align-items: flex-start;
    margin-top: 0.8em;
    background-color: $grey;
    padding: 1em;
    padding-bottom: 0.2em;
    border-radius: $radius;
    min-height: 120px;
    transition: height 200ms ease-in-out;
    position: relative;

    div.post-form-img-wrapper {
        margin-top: 0.5em;
        border: 1px solid $dark;
        width: 100%;
        position: relative;

        img {
            width: 100%;
        }
    }

    div.input-file {
        flex: 1;
        text-align: center;

        &:hover > svg path {
            stroke: $dark-primary;
        }

        input {
            display: none;
        }

        svg {
            cursor: pointer;
            width: $bs-medium;
            height: $bs-medium;

            path {
                stroke-width: 2;
            }
        }
    }

    div.post-description {
        flex: 5;
        position: relative;

        textarea {
            background-color: transparent;
            border: none;
            border-left: 1px solid $dark;
            outline: none;
            height: 100%;
            padding: 0.8em;
            resize: none;
            max-height: 90px;
            width: 100%;

            &::-webkit-scrollbar {
                width: 0.2em;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: $radius;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $dark;
                outline: 1px solid $dark;
                border-radius: $radius;
            }
        }

        div.btns {
            margin: 0;
            display: block;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            input {
                padding: 0.5em 2em;
                color: $light;
                font-weight: bold;
                outline: none;
                border: none;
                transition: color 200ms ease;
            }
            input.cancel {
                color: $dark;
                background-color: transparent;

                &:hover {
                    color: $dark-secondary;
                }
            }
            input.submit {
                border-radius: $radius;
                background: linear-gradient(180deg, $light-secondary 0%, $dark-secondary 100%);

                &:hover {
                    background: $dark-secondary;
                }
            }
        }
    }

    @media (min-width: 1023px) {
        & {
            max-width: 500px;
            margin: auto;
            margin-top: 0.8em;
        }
    }
}
