@use "./variables.scss" as *;

div.placeholder-loading {
    width: 100%;
    position: relative;
    margin-top: 1em;

    div.ph-item {
        width: 100%;
        border: none;
        padding: 2em;

        @media (max-width: 480px) {
            & {
                padding: 0;
            }
        }
        @media (min-width: 481px) {
            & {
                padding: 1em;
            }
        }
        @media (min-width: 1023px) {
            & {
                width: 90%;
                margin: auto;
            }
        }

        div.ph-picture {
            height: 500px;
            border-radius: $radius;
        }

        div.big {
            border-radius: $radius;
            height: 30px;
        }
    }
}

div.post-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;

    border-bottom: 1px solid $grey;

    &-header {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
        width: 100%;

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            span {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-weight: bold;

                img {
                    clip-path: circle(12px at center);
                    width: 25px;
                    height: 25px;
                }
            }

            p {
                font-size: $fs-small;
                margin: 1em 0;
                margin-left: 0.5em;
            }
        }

        button {
            padding: 0.3em;
            background-color: $light;
            border: 0.1em solid $dark-primary;
            outline: none;
            border-radius: $radius-lg;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $dark-primary;
            font-weight: bold;

            &.liked {
                background-color: $dark-primary;
                color: $light;

                svg path {
                    stroke: $light;
                    stroke-width: 2;
                }
            }

            svg {
                width: $fs-normal;
                height: $fs-normal;
                margin-right: 0.3em;

                path {
                    stroke: $dark-primary;
                }
            }

            &:hover {
                color: $light;
                background-color: $dark-primary;

                svg path {
                    stroke: $light;
                }
            }
        }
    }

    &-post {
        width: 100%;
        text-align: center;
        max-height: 700px;

        img {
            width: 70%;
            object-fit: contain;
            object-position: center;
            border-radius: $radius;
        }
    }
}
