@use "./variables.scss" as *;

div.placeholder-loading {
    width: 100%;
    position: relative;
    margin-top: 1em;

    div.ph-item {
        width: 100%;
        border: none;
        padding: 2em;

        @media (max-width: 480px) {
            & {
                padding: 0;
            }
        }
        @media (min-width: 481px) {
            & {
                padding: 1em;
            }
        }

        div.ph-picture {
            height: 200px;
            border-radius: $radius;
        }

        div.big {
            border-radius: $radius;
            height: 30px;
        }
    }
}

div.post-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.img-wrapper {
        margin-top: 1em;
        margin-bottom: 0.2em;
        border-radius: $radius;
        overflow: hidden;
        position: relative;

        div.info-overlay {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:hover > div.info-overlay-body {
                display: block;
                opacity: 1;
            }

            &-header {
                padding: 1em;
                color: $light;
                display: flex;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.5);

                svg {
                    margin-right: 0.5em;
                    width: $fs-medium;
                    height: $fs-medium;
                    path {
                        stroke: $light;
                        stroke-width: 2;
                    }
                }
            }

            &-body {
                padding: 2em;
                opacity: 0;
                box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);
                background-color: rgba(0, 0, 0, 0.5);
                transition: opacity 300ms ease-in-out;
                text-align: left;

                p {
                    font-size: $fs-small;
                    color: $light;
                }
            }
        }

        img {
            width: 100%;
        }

        @media (min-width: 1023px) {
            & {
                max-height: 600px;
                max-width: 500px;
                text-align: center;
            }
        }
    }

    button {
        padding: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-weight: bold;
        font-size: $fs-small;
        border-radius: $radius;
        background: linear-gradient(180deg, $light-primary 0%, $dark-primary 100%);
        border: none;
        outline: none;
        color: $light;

        &:hover {
            background: $dark-primary;
        }

        svg {
            width: 25px;
            height: 25px;

            path {
                stroke-width: 3;
            }
        }
        @media (min-width: 1023px) {
            & {
                width: 500px;
            }
        }
    }
}
