@use "./variables.scss" as *;

div.profile-container {
    margin: auto;
    display: flex;
    align-items: flex-start;
    padding: 0.5em;
    position: relative;

    div.description,
    div.posts {
        flex: 3;
    }

    div.description {
        div.head-profile {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &-img-wrapper {
                position: relative;
                height: auto;
                border-radius: 20%;
                overflow: hidden;

                &:hover {
                    svg {
                        opacity: 1;
                    }
                }

                input {
                    display: none;
                }

                img {
                    width: 120px;
                    margin-left: 0;
                    clip-path: circle(60px at center);
                }

                svg {
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.5);
                    bottom: 25px;
                    right: 25px;
                    border-radius: 50%;
                    padding: 0.2em;
                    cursor: pointer;
                    opacity: 0;
                    transition: opacity 200ms ease-in;

                    &:hover > path {
                        stroke: $light-primary;
                    }

                    path {
                        stroke: $light;
                        stroke-width: 4;
                    }
                }
            }

            &-txt {
                margin: 1em 0;
                p {
                    font-size: $fs-small;
                }
            }
        }

        div.more-info {
            label {
                margin: 0.8em 0;
                display: block;
                font-size: $fs-small;

                span {
                    font-weight: bold;
                    font-size: $fs-medium;
                }

                input {
                    margin-right: 0.5em;
                    border-radius: $radius;
                    border: none;
                    outline: none;
                    border: 1px solid $dark;
                }

                textarea {
                    resize: none;
                    height: 100px;
                    display: block;
                    width: 100%;
                    border-radius: $radius;
                    padding: 1em;
                    outline: none;
                    font-family: Inter, sans-serif;

                    &:focus,
                    &:hover {
                        border: 1px solid $dark-primary;
                    }
                }
            }
            div.location {
                margin: 1em 0;
                span {
                    display: flex;
                    align-items: center;
                    font-size: $fs-small;

                    svg {
                        width: $fs-small;
                        height: $fs-small;
                        margin-right: 0.3em;
                    }

                    textarea.location-text.edit {
                        border: 1px solid $light-primary;
                    }

                    textarea.location-text {
                        border: none;
                        outline: none;
                        color: $dark;
                        background-color: transparent;
                        text-decoration: none;
                        width: auto;
                        resize: none;
                    }

                    input {
                        margin-left: 0.3em;
                        text-decoration: none;
                        border: none;
                        outline: none;
                        color: $light-primary;
                        background-color: transparent;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            h4 {
                margin: 0.5em 0 0.2em 0;
            }

            label.fw-bold {
                font-weight: bold;

                input[type="text"] {
                    margin-left: 0.5em;
                    padding: 0.2em;
                }
                input[type="button"] {
                    border: none;
                    outline: none;
                    background: linear-gradient(180deg, $light-primary 0%, $dark-primary 80%);
                    color: $light;
                    font-weight: bolder;
                    padding: 0.2em 0.5em;
                    border-radius: $radius;
                }
            }

            div.checkbox-wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;

                label.fw-bold {
                    font-weight: bold;
                }

                label {
                    width: 50%;
                    margin: 0;
                    margin-top: 0.4em;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    div.posts {
        padding: 0.5em;
        position: relative;

        h4 {
            display: flex;
            margin: 0.5em 0;
        }
        span {
            color: $dark-primary;
            margin-left: 1em;
            display: flex;
            align-items: center;

            &:hover,
            &:hover svg path {
                color: $light-primary;
                stroke: $light-primary;
            }
            cursor: pointer;

            input {
                display: none;
            }

            svg {
                margin-left: 0.2em;
            }
        }
        div.img-post-wrapper {
            width: 100%;
            position: relative;
            height: 600px;

            button {
                padding: 1em;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.5);
                border: none;
                outline: none;
                position: absolute;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.3);
                }

                svg path {
                    stroke: $light;
                }
            }

            button.arrow-left {
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
            }

            button.arrow-right {
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
            }

            div.use-spring-carousel-main-wrapper {
                overflow: hidden;
            }

            img {
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        div.btns {
            margin-top: 2em;
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;

            input {
                padding: 0.8em 2em;
                color: $light;
                font-weight: bold;
                outline: none;
                border: none;
                transition: color 200ms ease;
            }
            input.cancel {
                color: $dark;
                background-color: transparent;

                &:hover {
                    color: $dark-secondary;
                }
            }
            input.save {
                border-radius: $radius;
                background: linear-gradient(180deg, $light-secondary 0%, $dark-secondary 100%);
            }
        }
    }

    @media (max-width: 480px) {
        & {
            padding-left: 3.5em;
            flex-direction: column;
            justify-content: center;
            position: relative;
            align-items: flex-start;
            width: 100vw;

            div.description {
                width: 100%;
                div.head-profile {
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                }
            }
            div.checkbox-wrapper {
                flex-direction: column;
                label {
                    width: 100%;
                }
            }
            div.posts {
                width: auto;
                div.img-post-wrapper {
                    width: 300px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    @media (min-width: 481px) {
        & {
            padding-left: 5em;
            flex-direction: column;
            justify-content: center;
            position: relative;
            align-items: flex-start;

            div.description {
                width: 100%;
                div.head-profile {
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                }
            }

            div.posts {
                width: 100vw;

                div.img-post-wrapper {
                    width: 100%;
                }
            }
        }
    }
    @media (min-width: 1023px) {
        & {
            flex-direction: row;
        }
    }
}
