@use "./variables.scss" as *;

div.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;

    h1 {
        font-size: 1.6em;
    }

    form {
        display: flex;
        justify-content: center;
        position: relative;

        div.form-wrapper {
            padding: 2em;
            width: 100%;
            max-width: 450px;

            div.absolute-or {
                position: relative;
                border-bottom: 1px solid $dark;
                width: 100%;
                margin: 1em 0;

                &::after {
                    content: "OR";
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    top: -50%;
                    background-color: $light;
                    padding: 0.2em;
                }
            }

            a.btn {
                margin: 0.3em 0;
                text-decoration: none;
                display: block;
                text-align: center;
                border-radius: 15px;
                padding: 0.5em;
                font-weight: bolder;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            a.btn.google {
                color: $dark;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);

                &:hover {
                    background-color: $grey;
                }
            }

            a.btn.fb {
                background: linear-gradient(180deg, $light-primary 0%, $dark-primary 100%);
                color: $light;

                &:hover {
                    background: $dark-primary;
                }
            }

            label {
                font-size: 1em;
                display: block;
                margin: 1.4em 0;
            }

            input {
                font-size: 1em;
                display: block;
                padding: 0.5em;
                margin: 0.2em 0;
                border-radius: $radius;
                border: 1px solid $dark;
                display: block;
                width: 100%;
                outline: none;
            }
            input.error {
                border: 1px solid $light-red;
                &:focus {
                    border: 2px solid $light-red;
                }
            }

            input.btn {
                margin-top: 1em;
                border: none;
                outline: none;
                background: $light-secondary;
                background: linear-gradient(180deg, $light-secondary 0%, $dark-secondary 100%);
                color: #fff;
                font-size: 1em;
                font-weight: bolder;

                &:hover {
                    background: $dark-secondary;
                }
            }

            span.error {
                font-size: 0.8em;
                color: $dark-red;
            }

            p {
                margin-top: 1em;
                text-align: center;
                font-size: 12px;

                a.link {
                    color: $light-primary;
                    margin-left: 0.2em;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    div.social-media-bg {
        height: 100%;
        background: url("../../images/bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @media (max-width: 480px) {
        form {
            flex: 1;
        }
        div.social-media-bg {
            display: none;
        }
    }

    @media (min-width: 481px) {
        form {
            flex: 3;
        }
        div.social-media-bg {
            flex: 1;
        }
    }

    @media (min-width: 1023px) {
        form {
            flex: 2;
        }
        div.social-media-bg {
            flex: 2;
        }
    }
}
