@use "./variables.scss" as *;

div.side-msg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: $radius;
    margin: 0.4em 0;

    &-content {
        margin-left: 0.3em;
        cursor: default;

        h4 {
            font-size: 1em;
        }

        p {
            font-size: 0.8em;
        }
    }

    &:hover {
        background-color: $grey;
    }
}
