/* colors */
$dark: #434343;
$light: #fff;
$grey: #e5e5e5;

$dark-primary: #0092df;
$light-primary: #00b0f9;

$dark-secondary: #00dfb7;
$light-secondary: #4dfede;

$dark-red: #f6645b;
$light-red: #ff857a;

/* facebook color */
$dark-fb: #4e65d4;
$light-fb: #7f8ddb;

/* font sizes */
$fs-small: 12px;
$fs-normal: 16px;
$fs-medium: 17px;
$fs-large: 20px;
$fs-xtra-large: 24px;

/* box sizes */
$bs-small: 39px;
$bs-medium: 47px;
$bs-large: 62px;

/* radius */
$radius: 15px;
$radius-lg: 40px;
